@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Molle:ital@1&family=Mr+Bedfort&family=Nova+Script&display=swap');

body {
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
}

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #E2E4F0;
}




h1, h2, h3, h4, h5, h6 {
  font-family: 'Molle', cursive;
  color: #162888;
  text-align: center;
  padding: 10px;
  line-height: 1.1em;
  font-size: 2.25em;
  border-top: 5px double;
  border-bottom: 5px double;
}

p {
  color: #2a4d69;
  text-align: justify;
  font-family: 'Kavivanar', sans-serif;
  padding: 10px;
  line-height: 1.5em;
  font-size: 1.45em;
}



nav {
  background-color: white;
  padding: 1em;
}

nav a {
  color: #8b9dc3;
  text-decoration: none;
  padding: 1em 1em;
  line-height: 2.5em;
}
nav li {
    font-family: 'Nova Script', monospace;
  font-size: 1.5em;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  list-style: none;
  margin: 0;
}

nav a:hover { 
  color: white; 
  background-color: #8b9dc3;
    box-shadow: 4px 4px 4px black;
}
.home-paragraph-3 {
  text-align: center;
  padding: 1em;
}

img {
  max-width: 100%;
}
.logo {
  width: 200px;
  position: relative;
}

.banner {
  width: 100%;
  height: 400px;
}

.home-right-img {
  width: 355px;
  height: 255px;
  box-shadow: 4px 4px 4px grey;
  grid-column: 4/6;
  grid-row: 1/4;
  margin: 25px 25px 15px 0;
  justify-content: center;
  align-items: center;
}

.home-left-img {
  width: 355px;
  height: 255px;
  box-shadow: 4px 4px 4px grey;
  grid-column: 1/4;
  grid-row: 4/6;
  margin: 25px 10px 15px 15px;
  justify-content: center;
  align-items: center;
}

.socialmedia {
  padding: 10px;

}

.icon {
  width: 55px;
  height: 55px;
  margin: 10px 15px 15px 0;
}

.info {
  font-size: 12px;
     margin-left: 15px;
}



.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.home-headline-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin: 15px 15px 0 15px;
}

.home-paragraph-1 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin: 10px 15px 0 15px;
}



.home-headline-2 {
  grid-column: 3 / 6;
  grid-row: 4 / 4;
  margin: 10px 15px 0 15px;
}

.home-paragraph-2 {
  grid-column: 3 / 6;
  grid-row: 5 / 6;
  margin: 25px 15px 0 15px;
}



.home-headline-3 {
  grid-column: 1 / 6;
  grid-row: 7 / 7;
  margin: 10px 15px 0 15px;
}

.home-paragraph-3 {
  grid-column: 1 / 6;
  grid-row: 8 / 8;
  text-align: center;
  margin: 0 25px 25px 25px;
}

header{
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;     
}
footer {
  display: grid;
   grid-template-columns: 1fr max-content repeat(3, max-content);
  align-items: center;
  justify-content: center;
}

.logo-box {
    background-color: white;
    border-radius: 50px 50px 0 0;
    padding: 0.5em;
    border: 1px solid #a43312;
}

.question {
  color: #0582CA;
   font-family: 'Nova Script', monospace;
  text-align: left;
 border: none;
  font-size: 1.5em;
  margin: 10px 20px -10px 20px;
}
.answer {
  font-size: 1.25em;
  color: #006494;
  margin: 0 30px 10px 45px;
}
.pagetitle {
  font-size: 3em;
  border: none;
}
.subtitle {
  font-size: 2.5em;
  border: none;
}
.rivers-headline {
  font-family: 'Nova Script', monospace;
  font-size: 1.75em;
  border: none;
  text-align: left;
    margin: 10px 0 0 25px;
}
.rivers-paragraph {
  font-size: 1.35em;
  text-align: justify;
    margin: 0 35px 15px 35px;
}
.rivers-img {
  width: 90%;
  height: 500px;
margin: 10px 25px 25px 45px;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 550px) { 
/* beginning of media query */
    .home-grid {
    display: block;
    }
    
/* end of media query */ 
}
